<p>
	You read the footer, but what does it really mean? Well, in the 1700s 
	<%= link_to "Reverend Thomas Bayes", "http://lesswrong.com/lw/774/a_history_of_bayes_theorem/" %> came up with this nifty little equation known as <%= link_to "Bayes Theorem", "http://yudkowsky.net/rational/bayes" %>, which is a way of figuring out just how persuasive each additional bit of evidence you come across really ought to be to you, under the circumstances.
<p> 
	Kenobi uses Bayes Theorem to analyze old data from your <%= link_to "Ask MetaFilter", "http://ask.metafilter.com/" %> profile to learn what kinds of questions you tend to give well-received answers to. Once it has learned from your old answers, it can apply what it knows whenever you ask it to classify newly posted questions on <%= link_to "the green", "http://ask.metafilter.com/" %>. Kenobi looks at each new questions in turn, and collects only those which are similar enough (according to Bayes Theorem!) to the sorts of questions you've previously posted well-received (read: favorited at all) answers to before.
</p>
<p>
	Aside from the classifier, Kenobi also has a scraper and an RSS feed reader in its innards. I took a cool screen scraping class offered by <%= link_to "ScraperWiki", "https://scraperwiki.com" %>, so Kenobi was my project to solidify my understanding of how scraping works. Kenobi can scrape your profile for past answered questions and answer favorite counts to learn about what kinds of questions you're seen as answering best. Once that's done, it can access the <%= link_to "AskMeFi", "http://ask.metafilter.com/" %> RSS feed for newly posted questions. Analyzing user profile data is particularly slow because Kenobi has to log into MetaFilter (using a tool called <%= link_to "Mechanize", "https://github.com/tenderlove/mechanize" %>) to gather the training data. Classifying new questions is easier, and way faster.
</p>
<p>
	You may see a red alert that apologizes for not finding any new questions for you to answer. More often than not, this is because you just haven't answered enough questions before, and so Kenobi doesn't really have enough data to identify any new questions as particularly appropriate for you. The best way to solve this is to go out and answer a whole lot more questions, stat! Kenobi will automatically re-analyze your data whenever you stop by and its old info on you is at least 6 months old, but if you put in a flurry of activity and really want it to re-analyze you sooner, just drop me an email and I'll make it happen for you. (If it turns out that a lot of people want this, I'll add it as an option. This seems unlikely, though.)
</p>
<p>
	You're welcome to take a look at my <%= link_to "source code", "https://github.com/DanielleSucher/Kenobi-on-Rails" %> over on Github if you like.
</p>
<p>
	You can <%= link_to "email me", "mailto:dsucher@gmail.com" %> if you have any questions, concerns, or are just in the mood to here to me geek out about bees or something. 
</p>