<% flash.each do |key, value| %>
	<div class="flash_<%= key %>">
		<h3><%= value %></h3>
		<div class="email"></div>
		<div id="paper"></div>
		<div id="spinner"></div>
	</div>
<% end %>
<br />
<div class="classify_form">
	<%= form_tag 'users/classify', :method => 'post' do %>
		<h3>Have Kenobi identify the best new <%= link_to "Ask MetaFilter", "http://ask.metafilter.com/" %> questions for you to answer:</h3>
		<div class="field lower">
			What is your MetaFilter username?
			<br />
			<span class="form_input"><%= text_field_tag :name %></span>
		</div>
		<div class="actions">
			<span class="form_submit"><%= submit_tag "Submit" %></span>
		</div>
	<% end %>
</div>

<div class="note">
	<p>Note:  If you've never used Kenobi before, and especially if you've been active on AskMeFi for ages, you may be waiting a very long time. Sorry about that! We can send you an email to alert you once Kenobi is ready for you (highly recommended), and/or you can just hang out and watch the spinny doodad and wait to be redirected to your results as soon as Kenobi is done figuring you out.</p>
	<p>After that initial set-up, you can use Kenobi to classify new <%= link_to "AskMeFi", "http://ask.metafilter.com/" %> questions for you whenever you want, and it'll be much faster. Kenobi only goes through that long learning process the first time, or if it's been more than 6 months since the last time it updated its records on you. Phew!</p>
	<p>Unfortunately, if you haven't answered very many questions yet, Kenobi may not have enough data to find any results for you. Go forth and make yourself useful for a while, then come back and try again!</p>
</div>

<script type="text/javascript">
$(document).ready(function() {
	if ($('.flash_training').length) {
		$('.email').html("<%= escape_javascript(render('users/email_form')) %>");
	}
});
</script>